@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*==================== VARIABLES CSS ====================*/
:root {
    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 240;
    /*Purple 250 - Green 110 - Blue 230 - Pink 340  - RoyalBlue 600     -purple 255     -orange 30      -purple-pink 270*/

    /* #3232FF */
    --white-color: hsl(var(--hue-color), 0%, 100%);
    --white-color-2: hsl(var(--hue-color), 17%, 98%);
    --black-color: hsl(var(--hue-color), 0%, 0%);
    --link-hover: hsl(var(--hue-color), 14%, 89%);
    --secondary-color: hsl(var(--hue-color), 7%, 46%);
    --primary-color: hsl(var(--hue-color), 100%, 60%);
    --primary-hover-color: hsl(var(--hue-color), 79%, 46%);
    --primary-border-color: hsl(var(--hue-color), 89%, 32%);
    --primary-light-color: hsl(var(--hue-color), 100%, 81%);
    --text-color: hsla(var(--hue-color), 10.81%, 14.51%, 75%);
    --text-color-2: hsla(var(--hue-color), 11%, 15%, 75%);

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-none: 0;
    --z-very-low: 1;
    --z-tooltip: 10;
    --z-flip: -10;
    --z-fixed: 100;
    --z-modal: 1000;
    --z-body: -1000;

    /*========== blur ==========*/
    --normal-blur: 10px;

    /*========== border-radius ==========*/
    --very-low-border: 5px;
    --low-border: 8px;
    --normal-border: 15px;
    --perfect-border: 25px;
    --circle-border: 50%;
}

body.dark-mode {
    background-color: hsl(var(--hue-color), 0%, 9%);
    --black-color: hsl(var(--hue-color), 0%, 100%);
    --white-color: hsl(var(--hue-color), 11%, 15%);
    --white-color-2: hsl(var(--hue-color), 9%, 12%);
    --link-hover: hsl(var(--hue-color), 10%, 19%);
    --text-color: hsla(var(--hue-color), 0.81%, 100%, 75%);
    --text-color-2: hsla(var(--hue-color), 0.81%, 100%, 75%);
}


body {
    margin: 24px;
    padding: 0px;
    box-sizing: border-box;
    background-color: hsl(var(--hue-color), 0%, 100%);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

/* disable highlighted blue color */
btn:focus, a:focus {
    outline: none;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none;
}

.input-group.form-select:focus {
    outline: none !important;
    box-shadow: none;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
    width: .60rem;
    background-color: hsla(var(--hue-color), 100%, 50%, 0.58);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--hue-color), 100%, 50%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--hue-color), 80%, 40%);
}

/* x-axis scroll bar */
.table-responsive::-webkit-scrollbar {
    width: .10rem;
    height: 5px;
    background-color: hsla(var(--hue-color), 100%, 50%, 0.58);
    border-radius: .1rem;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: hsl(var(--hue-color), 100%, 50%);
    border-radius: .5rem;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--hue-color), 80%, 40%);
}

.theme {
    margin-right: 7px;
}

.mt-3 {
    margin-top: 0rem !important;
}

.footerBadge.d-flex {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.MostPopularContainer {
    justify-content: center;
    align-items: center;
}

.testimonial {
    max-width: 270px;
    max-height: 400px;
    align-items: center;
    overflow-y: auto;
}

/* .swiper {
    width: 600px;
    height: 300px;
} */

.swiper-slide {
    /* margin-left: 300px; */
}

@media (max-width: 992px) {
    body {
        /* background-color: red !important; */
    }

    .mt-3 {
        margin-top: 1rem !important;
    }
}


.projectIcon{
    text-align: center;
}

/* testimonial */
.slide-container {
    max-width: 1120px;
    width: 100%;
    /* background-color: grey; */
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    /* background-color: red; */
    overflow: hidden;
    padding-left: 40px;
}


.swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #4070f4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 40px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #4070f4;
}


@media (max-width: 1024px) {
    .slide-content {
        padding-left: 0px;
    }
}